<!-- <img src="/assets/img/single_user.png" class="mx-auto d-block"> -->
<div class="row mt-4">
  <!-- <div class="col-md-6">
    <div class="row" style="height: 450px;">
      <div class="col-md-12 my-auto side-header">
        <img src="/assets/img/add_user.png" class="mx-auto d-block">
        <h1>User Registration</h1>
        <p><em>-Using <strong>Asp.Net Core Web API</strong> and <strong>Angular 7</strong></em></p>
      </div>
    </div>
  </div> -->
  <div class="col-md-12">
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
     
      <div class="form-group required">
        <label>Register Mobile No</label>
        <input class="form-control" formControlName="MobileNo" OnlyNumber="true" maxlength="10">
        <label class="text-danger" *ngIf="service.formModel.get('MobileNo').touched && service.formModel.get('MobileNo').errors?.required">This field is mandatory.</label>
      </div>
     <!--  <div class="form-group">
        <label>Full Name</label>
        <input class="form-control" formControlName="FullName">
      </div>
      <div formGroupName="Passwords">
        <div class="form-group required">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="Password">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum 4 characters required.</label>
        </div>
        <div class="form-group required">
          <label>Confirm Password</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
        </div>
      </div>-->
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Genrate OTP</button>
        </div>
      </div> 
    </form>
  </div>
</div>